@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap");

body {
  position: absolute;
  width: 375px;
  height: 718px;
  left: 0;
  top: 0;
}

.container {
  background: url(./images/header-shapes\ mobile.png);
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 15px;
  align-items: center;
  background-color: #fff;
}

.nav-bar a {
  text-decoration: none;
  line-height: 22px;
  font-size: 18px;
  font-weight: 700;
}

.headin {
  /*  Primary Text */
  width: 327px;
  height: 150px;

  /* Header / 2 */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;

  /* or 130% */
  display: flex;
  align-items: center;

  /* Neutrrals/N800 */
  color: #172b4d;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;

  @media screen and (min-width: 375) and(max-width: 768px);
}

.paragrap {
  /* Primary T ext */
  width: 327px;
  height: 146px;

  /* Body / 2 */
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400px;
  font-size: 16px;
  line-height: 24px;

  /* Neutrals/N600 */
  color: #344563;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;

  @media screen and (min-width: 375) and(max-width: 768px);
}

.headings {
  color: #172b4d;
  width: 295px;
  height: 36px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 0;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

h2 {
  display: flex;
  font-weight: 100px;
  font-family: "Poppins", sans-serif;

  /* Primary/B300 */
  color: #7f8cff;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 214px;
  height: 24px;
  list-style: none;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.cardworks-one {
  box-sizing: border-box;

  /* Auto layout  */
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;

  /* Neutrals /N0 */
  background: #ffff;

  /* Neutrals /N40 */
  border: 1px solid #dfe1e6;
  border-radius: 16px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cardworks-two {
  box-sizing: border-box;

  /* Auto layout  */
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;

  /* Neutrals /N0 */
  background: #ffff;

  /* Neutrals /N40 */
  border: 1px solid #dfe1e6;
  border-radius: 16px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.cardworks-three {
  box-sizing: border-box;

  /* Auto layout  */
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 552px;

  /* Neutrals /N0 */
  background: #ffff;

  /* Neutrals /N40 */
  border: 1px solid #dfe1e6;
  border-radius: 16px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.cardworks-four {
  box-sizing: border-box;

  /* Auto layout  */
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 327px;
  height: 596px;

  /* Neutrals /N0 */
  background: #ffff;

  /* Neutrals /N40 */
  border: 1px solid #dfe1e6;
  border-radius: 16px;

  /* Inside auto layout */
  flex: none;
  order: 3;
  flex-grow: 0;
}

.frame {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 12px;
  width: 236px;
  height: 32px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tag {
  flex-direction: row;
  align-items: center;
  padding: 0;
  gap: 8px;
  width: 214px;
  height: 24px;

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
}

.buttons {
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  position: absolute;
  width: 126px;
  height: 48px;
  background-color: #fff;
}

.press {
  width: 102px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #396df2;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;

  /* Identical to box-height or 141% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #396df2;

  /* Inside auto layout */
  flex: 0;
  order: 0;
  flex-grow: 0;
}

.about-me {
  position: absolute;
  width: 375px;
  height: 1263px;
  background: #fff;
}

.about {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.start {
  width: 138px;
  height: 24px;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  border-radius: 5px;
  border: 1px solid #396df2;
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
  background-color: #fff;

  /* Identical to box-height or 141% */
  display: flex;
  align-items: center;
  text-align: center;
  color: #396df2;

  /* Inside auto layout */
  flex: 0;
  order: 0;
  flex-grow: 0;
}

.language {
  list-style: none;
}

.lists {
  list-style: none;
}

.frameworks {
  display: flex;
  list-style: none;
  gap: 150px;
  align-items: center;
  margin-left: 50px;
  margin-bottom: 20px;
}

.frameworks p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}

.gained-skill {
  display: flex;
  list-style: none;
  gap: 220px;
  align-items: center;
  margin-left: 50px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.gained-skill p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
}
